body{
    width: 80%;
    margin: 0 auto; 
}

.container {
    margin-top: 150px;
}

.display-4{
    font-family: 'Reenie Beanie', cursive;
}

.lead{
    font-family: 'Nothing You Could Do', cursive;
}